.main-container {
    min-height: 100vh;
    margin: 100px 0 -450px 0;
}
.central-form {
    max-width: 1110px;
    padding: 10px;
    display: flex;
    border-radius:0% 98% 100% 0% / 38% 0% 100% 62% ;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2235;
    box-shadow: 0 0 40px -2px #1f2235;
}
.central-form h2{
    letter-spacing: 0.11rem;
    margin-bottom: 20px;
    font-family: "Silkscreen Thin";
    color:greenyellow;
    padding-top: 1px;
    font-size: 18px;

}
.back-form {
    max-width: 380px;
    margin: 0 auto;

}
.back-form .img-back {
    width: 100%;
    margin-bottom: 20px;
}
.img-back h4 {
    color: var(--white);
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.4;
    font-family: "Silkscreen Bold";
}
.back-form .img-back img{
    width: 100%;
    opacity: 0.5;
    border-radius: 0 0 21% 0;
}
.central-form  form {
    width: auto;
    display: flex;
    color: #111;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    margin-top: -52px;
    background-color:  var(--white);
    border-radius: 12px;
}
form p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--dark-orange);
    letter-spacing: 0.3rem;
    font-family: "Silkscreen Thin";
}
form label {
    margin-bottom: 5px;
    color: var(--black);
    letter-spacing: 0.2rem;
}
form input, textarea {
    width: 100%;
    border: 2px solid rgba(0,0,0,0);
    outline: none;
    background-color: rgba(230,230,230,0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border-radius: 10px;
    transition: 0.3;
}
textarea:focus {
    border: 2px solid rgba(30, 85, 250, 0.48);
    background-color: var(--white);
}
form input:focus{
    border: 2px solid rgba(30, 85, 250, 0.48);
    background-color: var(--white);
}
form button {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    width: 160px;
    border: 2px solid var(--dark-orange);
    font-size: 17px;
    border-radius: 19px;
    background-color: #1f2235;
    color: var(--white);
    align-items: center;
    justify-content: center;
}
form button:hover {
    background-color: #1f2235;
    transition: all ease 1s;
    border: 2px solid #1f2235;
}
button .load{
width: 100%;
}

button .load img {
    width:60px;
    color: var(--green);
}
button {
 flex: 1;
 align-items: center;
 margin-right: 20px;
}
form{
    flex: 0.9;
}
.col i{
    padding: 7px;
    color: var(--white);
}
.col i:hover {
    transform: scale(1.4, 1.8);
    color: greenyellow;
}
@media only screen and (max-width: 940px){
    .back-form{
        max-width: 1110px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .img-back {
        flex: 1;
        align-self: center;
        margin-right: 20px;
    }
    form{
        flex: 0.9;
    }

    .col a {
        margin-left: -5px;
    }
   

}